*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#header-navbar{
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 10px;
}

#header-navbar > img{
    cursor: pointer;
    width: 110px;
    margin-right: auto;
}

#header-navbar > a > div{
    padding: 8px 10px;
    border-radius: 5px;
    border: 2px solid white;
    transition: all 0.3s ease 0s;
}
#header-navbar > a > div:hover{
    color: white;
}
.navi_links{
    list-style: none;
}

.navi_links li{
    display: inline-block;
    padding: 0px 20px;
}

.navi_links li a {
    transition: all 0.3s ease 0s;
}

.navi_links li a:hover{
    color: white;
}

.location-tab{
    margin-left: 150px;
}

.navi_links > li, a, button{
    font-weight: 700;
    font-size: 15px;
    color: #cad3d6;
    text-decoration: none;
}
.navi_links > li > a > .location{
    width: 15px;
    filter: brightness(500%)
}

.navi_links > li > a > img{
    width: 25px;
}














